<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=.; database = Abid;Integrated Security=SSPI"/>
  </connectionStrings>
  
    <system.web>

      <authorization>
        <deny users="?" />
      </authorization>

    </system.web>
</configuration>
